<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>495382160431-0jn343i7aki5jamf7031r79cdqclqs51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495382160431-0jn343i7aki5jamf7031r79cdqclqs51</string>
	<key>API_KEY</key>
	<string>AIzaSyCQOScGwtJfkt0sxHJtEBSoSuqCsSL4zhA</string>
	<key>GCM_SENDER_ID</key>
	<string>495382160431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travis.Urban</string>
	<key>PROJECT_ID</key>
	<string>uuban-5f08f</string>
	<key>STORAGE_BUCKET</key>
	<string>uuban-5f08f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:495382160431:ios:fa73ae1029f7591f</string>
	<key>DATABASE_URL</key>
	<string>https://uuban-5f08f.firebaseio.com</string>
</dict>
</plist>